site_name: AsanaPrint Docs
theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: teal
      accent: lime
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [./src] # Look for python files in the root directory

nav:
  - Home: index.md
  - User Guide:
      - App Overview: user-guide/overview.md
      - Filtering & Search: user-guide/filtering.md
  - Developer Documentation:
      - Application (Main): dev-docs/application.md
      - Data Handler: dev-docs/data_handler.md
      - Filter Panel: dev-docs/filter.md
      - Gantt Renderer: dev-docs/renderer.md